<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <context-param>
        <param-name>mainEmail</param-name>
        <param-value>likewecare@yahoo.com</param-value>
    </context-param>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.example.web.RegisterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.example.web.SearchServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResultServlet</servlet-name>
        <servlet-class>com.example.web.ResultServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ResultServlet</servlet-name>
        <url-pattern>/ResultServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UsersPanelServlet</servlet-name>
        <servlet-class>com.example.web.UsersPanelServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UsersPanelServlet</servlet-name>
        <url-pattern>/UsersPanelServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateDeleteServlet</servlet-name>
        <servlet-class>com.example.web.UpdateDeleteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateDeleteServlet</servlet-name>
        <url-pattern>/UpdateDeleteServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AfterUpdateDeleteServlet</servlet-name>
        <servlet-class>com.example.web.AfterUpdateDeleteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AfterUpdateDeleteServlet</servlet-name>
        <url-pattern>/AfterUpdateDeleteServlet</url-pattern>
    </servlet-mapping>
</web-app>
